.DS_Store
Section 20 - Slot Machine/Slot Machine.xcodeproj/project.xcworkspace/xcuserdata/javier.jara.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
Section 15 - Touchdown/Touchdown.xcodeproj/project.xcworkspace/xcuserdata/javier.jara.xcuserdatad/UserInterfaceState.xcuserstate
Section 20 - Slot Machine/Slot Machine.xcodeproj/project.xcworkspace/xcuserdata/javier.jara.xcuserdatad/UserInterfaceState.xcuserstate
Section 22 - Honeymoon/Honeymoon.xcodeproj/project.xcworkspace/xcuserdata/javier.jara.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Section 15 - Touchdown/Touchdown.xcodeproj/project.xcworkspace/xcuserdata/javier.jara.xcuserdatad/UserInterfaceState.xcuserstate
Section 15 - Touchdown/Touchdown.xcodeproj/xcuserdata/javier.jara.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
